.section {
    z-index: -3;
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: calc(100% - 530px);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    
    .backgroundShapeTwo {
        position: absolute;
        z-index: -2;
        height: 100%;
        width: 100%;
        bottom: 0;

        &:hover {
            transition-property: box-shadow;
            transition-duration: 300ms;
            transition-timing-function: ease-out;
        }

        @media screen and (max-width: 900px) {
            height: 100%;
        }
    }
}