.section {
    height: 100vh;
    width: calc(100% - 530px);
    background-color: rgb(60, 105, 105);
    display: flex;
    align-items: center;
    justify-content: center;
}


.text {
    color: #B42242
}