html {
    text-decoration: 'none';
    scroll-behavior: smooth;
    color-scheme: light;
}

a {
    text-decoration: 'none';
    color: white;
}

body {
    text-decoration: 'none';
    font-family: "Roboto", sas-serif;
    background-color: #400240;
    color: white;
}