html {
    text-decoration: 'none';
    scroll-behavior: smooth;
}

a {
    text-decoration: 'none';
    color: black;
}

body {
    text-decoration: 'none';
    font-family: "Roboto", sans-serif;
    background-color: rgb(64, 2, 64);
    color: white;
}